.main {
    position: relative;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Avenir;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    font-weight: 300;
    text-align: center;
    color: cornflowerblue;
}

.card {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.3);
}