/* TODO */

.app {
    position: absolute;
    margin: 0px;
    width: 100%;
    padding: 0px;
    min-height: 100%;
    overflow-y: auto;
    text-align: center;
    padding-bottom: 100px;
    background-color: #4341b5;
}

.app-title {
    color: white;
    font-weight: 300;
    font-family: 'Avenir';
}

input {
    width: 70%;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Avenir';
}

button {
    position: relative;
    width: 20%;
    height: 50px;
    border: none;
    outline: none;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    transition-duration: 0.1s;
    background-color: #6866d8;
}
button:hover {
    color: lightgray;
    background-color: #5856b9;
}
button:active {
    color: gray;
    background-color: #333194;
}

.todo-item {
    width: 70%;
    padding: 15px;
    color: white;
    cursor: pointer;
    font-weight: 300;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: 'Avenir';
    background-color: #6866d8;
}
.todo-item:hover {
    background-color: #5856b9;
}
.todo-item:active {
    background-color: #333194;
}



/* TEMPLATE */

.template-example {
    font-weight: 300;
    text-align: center;
    font-family: 'Avenir';
}
.template-title {
    color: #6866d8;
}