portfolio-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    font-family: Avenir;
    background-color: rgb(233, 237, 250);
}

.portfolio-page {
    text-align: center;
}
.portfolio-page > h1, .portfolio-page > h3 {
    text-align: left;
}

.portfolio-page > round-button {
    position: relative;
    left: -20px;
}
.portfolio-page > round-button * {
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.portfolio-page > count-label {
    margin-right: 30px;
    display: inline-block;
}